.bungkus-mobile{
    overflow: auto;
    height: 600px;
    width: 414px;
}

.bungkus-mobile2{
    overflow: auto;
    height: 600px;
    width: 414px;
}

.penanda{
    position: absolute;
    right: 40%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3333;
    padding: 10px;
    top: 2;
    z-index: 99999999;
}

.subJudul{
    position: relative;
}

.isi{
    position: relative;
}

.edit{
    padding: 5px;
    width: 80%;
    font-size: 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.413);
    color: orange;
    border-radius: 8px;
    cursor: pointer;
}

.sub-Judul-form{
    margin-top: 40px;
    display: none;
}

.edit-logo-form{
    margin-top: 40px;
    display: none;
}

.edit-fotoHeader-form{
    margin-top: 40px;
    display: none;
}

.isi-header-form{
    margin-top: 40px;
    display: none;
}

.sub-project-form{
    margin-top: 40px;
    display: none;
}

.edit-mediaProject-form{
    margin-top: 40px;
    display: none;
}

.sub-legal-form{
    margin-top: 40px;
    display: none;
}

.harga-form{
    margin-top: 40px;
    display: none;
}

.feedback{
    position: fixed;
    bottom: 0;
    right: 0;
}

.feedback i{
    cursor: pointer;
    font-size: 60px;
}

.Logout{
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: red;
    color: white;
    border-bottom-left-radius: 10px;
    /* right: 0; */
}

.Logout > a{
    color: white;
}