.prop_aman {
    cursor: move;
	width: 150px;
	height: 150px;
	background-color: #272e6e;
	border-radius: 12px;
	position: relative;
}

.prop_aman > p {
    font-size: larger;
    cursor: move;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: white;
}

.prop_problem {
    cursor: move;
	width: 150px;
	height: 150px;
	background-color: #FFC55C;
	border-radius: 12px;
	position: relative;
}

.prop_problem > p {
    font-size: larger;
    cursor: move;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    color: #252525;
}