@font-face {
    font-family: Playfair;
    src: 'assets/fonts/PlayfairDisplay-Regular.ttf';
}

body{
    background-color: white;
    color: #333333;
    font-family: Playfair;
}

@keyframes boxLogo {
    from {width: 0px; height: 0px;}
    to {width: 110px; height: 110px;}
}

@keyframes Logo {
    from {width: 0px; height: 0px;}
    to {width: 80px; height: 80px;}
}

.boxLogo{
    background-color: #333333;
    width: 110px;
    height: 110px;
    border-bottom-right-radius: 100px;
    animation-name: boxLogo;
    animation-duration: .8s;
}

.boxLogo > img{
    width: 80px;
    height: 80px;
    border-bottom-right-radius: 10px;
    animation-name: Logo;
    animation-duration: .8s;
}

@keyframes boxLogo {
    from {width: 0px; height: 0px;}
    to {width: 110px; height: 110px;}
}

.tombol-menu{
    position: relative;
    transition: .8s;
    font-size: 30px;
    text-align: end;
    color: #333333;
}

.tombol-menu2{
    display: none;
    position: fixed;
    right: 4%;
    top: 1%;
    font-size: 30px;
    background-color: white;
    z-index: 999998;
    border-radius: 20px;
}

@keyframes anim-bukaMenu {
    0% {
        width: 0px; 
        height: 0px;
        opacity: 0;
    }
    30% {
        width: 30px; 
        height: 30px;
        border-radius: 100px;
    }
    100% {
        width: 200px; 
        height: 280px;
        border-radius: 20px;
        opacity: 1;
    }
}

.menu-bar{
    display: block;
    background-color: #333333;
    position: fixed;
    width: 200px;
    height: 280px;
    right: 6%;
    top: 2%;
    border-radius: 20px;
    z-index: 999999;
}

.show-menu{
    animation-name: anim-bukaMenu;
    animation-duration: .8s;
}

.hide-menu{
    animation-name: anim-tutupMenu;
    animation-duration: .8s;
}

@keyframes anim-tutupMenu {
    0% {
        width: 200px; 
        height: 280px;
        opacity: 1;
    }
    30% {
        width: 30px; 
        height: 30px;
        border-radius: 100px;
    }
    100% {
        width: 0px; 
        height: 0px;
        border-radius: 20px;
        opacity: 0;
    }
}

.tombol-close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

.list-menu{
    transition: .8s;
    margin-top: 50px;
    display: none;
}

.list-menu ul{
    list-style: none;
}

.list-menu ul li a{
    color: white;
    text-decoration: none;
}

.list-menu > ul > li > a > .fa-solid{
    width: 40px;
}

.aktif{
    color: #CD949C;
    background-color: #CD949C;
    padding: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.carousel-item > img{
    width: 100%;
    height: 100%;
}

.judul{
    margin-top: 20px;
    margin-left: 20px;
}

.subJudul {
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    width: 70%;
}

.subJudul > h2{
    font-size: 18px;
    text-align: justify;
}

video {
    object-fit: cover;
    height: 200px;
    width: 100%;
    padding: 5px;
}

.foto > img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    padding: 5px;
}

.isi{
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
}

.judul-menu {
    /* text-align: center; */
    margin-left: 20px;
}

.boxs-project{
    margin: 0 auto;
}

.box-project12{
    background-color: #CD949C;
    height: 200px;
    width: 200px;
}

.box-project6{
    /* background-color: #CD949C; */
    /* height: 200px; */
    width: 200px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.btn-kirim{
    background-color: #333333;
    color: white;
}

.kontaks{
    font-size: 30px;
}

.kontaks a{
    color: #333333;
}

.foot{
    padding-top: 20px;
    background-color: #333333;
    color: white;
    text-align: center;
}

.foot > p{
    text-align: center;
}

.menu-kalkulasi{
    background-color: #333333;
    padding: 20px;
    color: white;
}

.mapBox{
    margin: 0;
    padding: 0;
    width: 100%;
}

.sms{
    width: 100%;
    height: 100%;
}

.sms iframe{
    width: 100%;
}